.uploadImgBtn{
	width:100px;
	height:100px;
	cursor:pointer;
	position:relative;
	background-image:url('../imgs/fileupload.png') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.uploadImgBtn inputfile{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.pic{
	width: 100px;
	height: 100px;
}

.pic img {
	width: 100px;
	height: 100px;
}
